In [ ]:
#for column in missing_data.columns.values.tolist():
#    print(column)
 #   print (missing_data[column].value_counts())
 #   print("")

In [1]:
import pandas as pd
import numpy as np

C:\Users\rorugan\AppData\Local\Temp\ipykernel_15844\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data ="CarPricesPrediction.csv"

In [3]:
df=pd.read_csv(data)

In [4]:
df.columns

Index(['Unnamed: 0', 'Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price'], dtype='object')

In [5]:
df.head()
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [6]:
dfnull=df.isnull()
dfnull

      Make  Model   Year  Mileage  Condition  Price
0    False  False  False    False      False  False
1    False  False  False    False      False  False
2    False  False  False    False      False  False
3    False  False  False    False      False  False
4    False  False  False    False      False  False
..     ...    ...    ...      ...        ...    ...
995  False  False  False    False      False  False
996  False  False  False    False      False  False
997  False  False  False    False      False  False
998  False  False  False    False      False  False
999  False  False  False    False      False  False

[1000 rows x 6 columns]

In [7]:
l=dfnull.columns.values.tolist()
l

['Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price']

In [8]:
for c in l:
    print(c)
    print(dfnull[c].value_counts())

Make
Make
False    1000
Name: count, dtype: int64
Model
Model
False    1000
Name: count, dtype: int64
Year
Year
False    1000
Name: count, dtype: int64
Mileage
Mileage
False    1000
Name: count, dtype: int64
Condition
Condition
False    1000
Name: count, dtype: int64
Price
Price
False    1000
Name: count, dtype: int64

In [9]:
df.dtypes

Make          object
Model         object
Year           int64
Mileage        int64
Condition     object
Price        float64
dtype: object

In [10]:
dub=pd.get_dummies(df["Condition"])

In [11]:
dub.rename(columns={"Excellent":"Condition_excellent","Fair":"Condition_fair","Good":"Condition_Good"},inplace=True)
dub

     Condition_excellent  Condition_fair  Condition_Good
0                   True           False           False
1                   True           False           False
2                  False           False            True
3                   True           False           False
4                   True           False           False
..                   ...             ...             ...
995                 True           False           False
996                 True           False           False
997                False           False            True
998                False           False            True
999                 True           False           False

[1000 rows x 3 columns]

In [12]:
df=pd.concat([df,dub],axis=1)
df.tail()
dfnull=df.isnull()

In [13]:
l=dfnull.columns.values.tolist()
for c in l:
    print(c)
    print(dfnull[c].value_counts())

Make
Make
False    1000
Name: count, dtype: int64
Model
Model
False    1000
Name: count, dtype: int64
Year
Year
False    1000
Name: count, dtype: int64
Mileage
Mileage
False    1000
Name: count, dtype: int64
Condition
Condition
False    1000
Name: count, dtype: int64
Price
Price
False    1000
Name: count, dtype: int64
Condition_excellent
Condition_excellent
False    1000
Name: count, dtype: int64
Condition_fair
Condition_fair
False    1000
Name: count, dtype: int64
Condition_Good
Condition_Good
False    1000
Name: count, dtype: int64

In [14]:
df.columns

Index(['Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price',
       'Condition_excellent', 'Condition_fair', 'Condition_Good'],
      dtype='object')

In [15]:
l=np.linspace(min(df["Mileage"]),max(df["Mileage"]),4)
l

array([ 10079.        ,  56650.66666667, 103222.33333333, 149794.        ])

In [16]:
group =["low","medium","high"]

In [19]:
df["Mileage_bin"]=pd.cut(df["Mileage"],l,labels=group,include_lowest=True)
df[["Mileage","Mileage_bin"]]

     Mileage Mileage_bin
0      18107         low
1      13578         low
2      46054         low
3      34981         low
4      63565      medium
..       ...         ...
995   149032        high
996    20608         low
997   109851        high
998    11704         low
999   128390        high

[1000 rows x 2 columns]

In [20]:
df.columns

Index(['Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price',
       'Condition_excellent', 'Condition_fair', 'Condition_Good',
       'Mileage_bin'],
      dtype='object')

In [21]:
df.to_csv("my_auto_clean.csv")